In [ ]:
output = [i for i in set(list(nuclear_glucocor.canonical_smiles)) if i in set(list(nuclear_non.smiles))]
len(output)

import matplotlib.pyplot as plt
from matplotlib_venn import venn2, venn2_circles, venn2_unweighted
from matplotlib_venn import venn3, venn3_circles

venn2(subsets=(len(set(list(nuclear_non.smiles))), len(set(list(nuclear_glucocor.canonical_smiles))), len(output)), set_labels=('inactive', 'active'))
plt.show()

In [ ]:
master_set = pd.concat([df_old_active, df_old_nonactive], ignore_index=True)
master_set

concatenated_df = master_set.groupby('canonical_smiles').agg({
     'source': lambda x: list(set(x)),
     'pchembl_value': lambda x: list(set(x)) 
}).reset_index()

concatenated_df

def has_multiple_unique_values(values_list):
    return len(set(values_list)) > 1

multi_unique = concatenated_df[concatenated_df['source'].apply(has_multiple_unique_values)]
display(multi_unique)

overrepresented = 0
minimum = 7

arr = []
for i, row in multi_unique.iterrows():
    values_list = row['pchembl_value']
    average = sum(values_list) / len(values_list)
    if average < 7.0:
        overrepresented += 1
        #print(f'{average}: {row["canonical_smiles"]}')
        arr.append([average,row["canonical_smiles"]])
    if average < minimum:
        minimum = average
arr_df = pd.DataFrame(data = arr, columns = ['pchembl_value', 'canonical_smiles'])
print(overrepresented)
print(minimum)

In [1]:
import numpy as np

In [2]:
a = np.array([1,2,3])
a.shape

(3,)

In [6]:
b = np.array([[1],[2],[3]])
b.reshape(3,)

array([1, 2, 3])

In [5]:
arr = np.array([1,2,3])
print(arr.ndim)

1

In [7]:
import pandas as pd

In [16]:
df = pd.read_csv("data/output_sets/Glucocorticoid_receptor/cOS_DrugEx_dis_3_one_column.csv", header = None)
df.columns = ['virtual']
df

                                                  virtual
0       CC(CCC(=O)Oc1ccc2c(c1)OC(c1cccc(NC(=O)c3ccc(C#...
1       COC1(C(C=O)C2=CC(C)(C)Nc3ccc4c(c32)COc2ccc(O)c...
2       CCC(O)Cc1c(N)cnc(CC(=O)Nc2ccc(C(C)c3ccc4c(CC(C...
3       C=CCOc1cccc2c1C1CCC3(C)C(CCC3(O)C#CC(Cc3ccccn3...
4       CC(c1cccnc1)N1NN=C2C=CC(c3cc(NC(=O)c4cnn(CN5CC...
...                                                   ...
999995  CC1(C)C=C(C(c2ccccc2)c2cccc(Cl)c2)c2c(ccc3c2CO...
999996          O=C(NC(=Cc1nccc2c1CCCC2)C1CCNCC1)C(F)(F)F
999997  COC(=O)C12CCC3(C)C(CCC3(O)C#CC(N)(Cc3ccccn3)C(...
999998  CC1Oc2ccc(O)cc2-c2ccc3c(c21)C(CCC(=NO)c1ccsc1)...
999999                   CC(CN1CCN(c2ccccc2)CC1)N(C=O)CCO

[1000000 rows x 1 columns]

In [17]:
len(set(df.virtual))

979340

In [14]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../phd_projects/new_output.csv")
df

        Unnamed: 0                                       0
0                0  C1CCC(CCCCCC2CCC3C(CCC3C3CCCCC3)C2)CC1
1                1  C1CCC(CCCCCC2CCC3C(CCC3C3CCCCC3)C2)CC1
2                2  C1CCC(CCCCCC2CCCC3C(C4CCCCC4)CCC23)CC1
3                3  C1CCC(CCCCCC2CCCC3C(C4CCCCC4)CCC23)CC1
4                4      C1CCC(CCCCCC2CCCC(CC3CCCCC3)C2)CC1
...            ...                                     ...
916546      916546     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916547      916547     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916548      916548     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916549      916549     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916550      916550     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1

[916551 rows x 2 columns]

In [5]:
df.columns = ['index','csk']
df

         index                                     csk
0            0  C1CCC(CCCCCC2CCC3C(CCC3C3CCCCC3)C2)CC1
1            1  C1CCC(CCCCCC2CCC3C(CCC3C3CCCCC3)C2)CC1
2            2  C1CCC(CCCCCC2CCCC3C(C4CCCCC4)CCC23)CC1
3            3  C1CCC(CCCCCC2CCCC3C(C4CCCCC4)CCC23)CC1
4            4      C1CCC(CCCCCC2CCCC(CC3CCCCC3)C2)CC1
...        ...                                     ...
916546  916546     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916547  916547     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916548  916548     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916549  916549     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916550  916550     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1

[916551 rows x 2 columns]

In [10]:
df[759700:759705]

         index                                csk
759700  759700    C1CCC2CC(C3CCC(CC4CC4)CC3)CC2C1
759701  759701   C1CC(CCC2CC2)CC(C2CC3CCCCC3C2)C1
759702  759702                                NaN
759703  759703   C1CC(CCC2CC2)CC(C2CC3CCCCC3C2)C1
759704  759704  C1CC(CCC2CCCC(C3CC4CCCCC4C3)C2)C1

In [15]:
df[df['csk'] == np.NaN]

Empty DataFrame
Columns: [index, csk]
Index: []

In [16]:
df['csk'][759702]

nan

In [19]:
df = df.dropna()

In [20]:
df

         index                                     csk
0            0  C1CCC(CCCCCC2CCC3C(CCC3C3CCCCC3)C2)CC1
1            1  C1CCC(CCCCCC2CCC3C(CCC3C3CCCCC3)C2)CC1
2            2  C1CCC(CCCCCC2CCCC3C(C4CCCCC4)CCC23)CC1
3            3  C1CCC(CCCCCC2CCCC3C(C4CCCCC4)CCC23)CC1
4            4      C1CCC(CCCCCC2CCCC(CC3CCCCC3)C2)CC1
...        ...                                     ...
916546  916546     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916547  916547     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916548  916548     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916549  916549     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1
916550  916550     C(CCC1CCCCC2CCCCC12)CC1CCC2CCCCC2C1

[916546 rows x 2 columns]

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/results/Glucocorticoid_receptor/csk_scaffolds/dis/Molpher/df_all_clusters_with_mean.csv")
df

,name,type_cluster,scaffold,USo,SSo,TUPOR_,TUPOR,TUPOR_unique,TUPOR_set,SESY,ASER,CwASo
0,Molpher_0,dis,csk,104715.0,916546.0,15/40,0.375000,0.035812,0.004091,0.114250,0.003291,3016.0
1,Molpher_1,dis,csk,119055.0,1070030.0,15/23,0.652174,0.054779,0.006095,0.111263,0.001106,1183.0
2,Molpher_2,dis,csk,105240.0,906891.0,9/40,0.225000,0.021380,0.002481,0.116045,0.000114,103.0
3,Molpher_3,dis,csk,89696.0,693460.0,20/37,0.540540,0.060264,0.007795,0.129346,0.006726,4664.0
4,Molpher_4,dis,csk,81634.0,532962.0,34/43,0.790698,0.096859,0.014836,0.153170,0.011708,6240.0
5,Molpher_mean,dis,csk,100068.0,823977.8,-,0.516682,0.053819,0.007060,0.124815,0.004589,3041.2